.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background: #D0D3D4;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  font-weight: 700;
  margin: 0;
  padding: 0;
}
